
* {font-weight: bold;}
.row div {
    margin: 0.25rem;
}
.col {
    background-color: rgb(255, 194, 204);
}

.col-sm {
    background-color: rgb(253, 163, 178);
}

.col-md {
    background-color: rgb(251, 138, 157);
}

.col-lg{
    background-color: rgb(255, 88, 116);
}

.col-xl {
    background-color: rgb(255, 0, 43);
}